*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    height: 55px;
    width: 1536px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
}
.logo{
    color: rgb(193, 74, 74);
    margin-left: 5px;
    font-size: 20px;
}
.home{
    font-size: 19px;
}
.about{
    font-size: 19px;
}
input{
    width: 400px;
    height: 32.8px;
    text-align: center;
}
.search-logo{
    background-color: yellow;
    height: 32.8px;
    width: 30px;
    color: black;
}
#glass{
    position: relative;
    top: 5.5px;
    left: 7px;
}
.history{
    font-size: 19px;
}
.profile{
    margin-right: 5px;
    font-size: larger;
}
.nav{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(64, 0, 255);
    text-decoration: underline;
}
h2:hover{
    color: red;
}
h2:active{
    color: brown;
}
.search-logo:hover{
    background-color: rgb(158, 167, 26);
}
.search-logo:active{
    background-color: yellow;
    border: 1.7px solid red;
}
.hero{
    margin: 10px;
}
.dp{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 198, 198);
    border-radius: 50%;
    position: relative;
    left: 20px;
}
.change{
    margin-top: 10px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
table{
    margin-top: 20px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 2.5px;
    background-color: antiquewhite;
    font-size: larger;
}
td:hover{
    background-color: aliceblue;
}
body{
    background-image: url("gradient-background-with-bokeh-effect_52683-29043.avif");
    background-size: cover;
} 