*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    height: 55px;
    width: 1536px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
}
.logo{
    color: rgb(193, 74, 74);
    margin-left: 5px;
    font-size: 20px;
}
.home{
    font-size: 19px;
}
.about{
    font-size: 19px;
}
input{
    width: 400px;
    height: 32.8px;
    text-align: center;
}
.search-logo{
    background-color: yellow;
    height: 32.8px;
    width: 30px;
    color: black;
}
#glass{
    position: relative;
    top: 5.5px;
    left: 7px;
}
.history{
    font-size: 19px;
}
.profile{
    margin-right: 5px;
    font-size: larger;
}
.nav{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(64, 0, 255);
    text-decoration: underline;
}
h2:hover{
    color: red;
}
h2:active{
    color: brown;
}
.search-logo:hover{
    background-color: rgb(158, 167, 26);
}
.search-logo:active{
    background-color: yellow;
    border: 1.2px solid red;
}
.products1{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.meds{
    height: 200px;
    width: 200px;
}
.box{
    border: 2px solid black;
    padding: 5px;
}
.p1{
    font-size: larger;
    position: relative;
    left: 45.5px;
}
.utens{
    height: 200px;
    width: 200px;
}
.deo{
    height: 200px;
    width: 200px;
}
.p2{
    font-size: larger;
    position: relative;
    left: 49px;
}
.p3{
    font-size: larger;
    position: relative;
}
.prod{
    color: red;
    text-decoration: none;
}
.products2{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.p4{
    font-size: larger;
    position: relative;
}
.wash{
    height: 200px;
    width: 200px;
}
.p5{
    font-size: larger;
    position: relative;
    left: 43px;
}
.p6{
    font-size: larger;
    position: relative;
    left: 15px;
}
.food{
    height: 200px;
    width: 200px;
}
.ele{
    height: 200px;
    width: 200px;
}
.foot{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.845);
    height: 77.2px;
    width: 1536px;
}





/* .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.signup-form {
    margin: 20px;
    padding-right: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #0cf304; 
    